
.main-container{
	background-color: #fafafa;
}
.head{
	/*background-image: url("~/assets/background-2.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;*/
	 height: 300;
	

}
.head-background{
	width:100%;
}
.actionbar-back{
	top:10;
}
.btn-back{
	width: 30px;
}
.txt-back{
	color:white;
	font-size: 15pt;
	font-family: 'Open sans';
	top:10;
}
.app-details{
	align-items: center;
	top: 200;

}
.appname{
	text-align: center;
	color:#ed324d;
	font-weight: bold;
	margin-top:-18;
	font-size: 50pt;
	margin-left:60;
	text-align: center;
}
.appdescription{
	color:#ed324d;
	font-family: 'Open sans';
	font-size: 20pt;
	margin-top: -9;
	margin-left:125;
	z-index: 100;
}
.body-container{
	margin: 30;

}
.tf{
	background-color: white;
	margin-top: 10;
	background-repeat: no-repeat;
	padding-left: 10; 
	margin-left: 10;
	background-size: 25;
	background-position: left center;

}
.tf-email{
	background-color: white;
	margin-top: 10;
	background-image: url("~/assets/account.png");
	 background-repeat: no-repeat;
	 padding-left: 30; 
	margin-left: 10;
	background-size: 25;
	background-position: left center;

}
.tf-password{
	background-color: white;
	margin-top: 10;
	background-image: url("~/assets/password.png");
	 background-repeat: no-repeat;
	 padding-left: 30; 
	margin-left: 10;
	background-size: 25;
	background-position: left center;

}

.btn-signup{
	margin: 10 0 10 0;
	border-radius: 50%;
	background-color: #ed324d;
	color: white;
	font-weight: 600;


}
.lbl-haveact{
	margin-left: 50;
}
.btn-conn-fb{
	margin-top: 10;
	border-radius: 50%;
	background-color:#3a5a98 ;
	color:white;
	font-weight: 600;

}
.try{
	 padding-left: 30;
    padding-right: 10;
    padding-bottom: 20;
    padding-top: 20;
}
.sl-hr{
	width: 110;
}